#image-carousel {
  width: 75%;
  height: 300px;
  margin: 2px auto;
  overflow: hidden;
}

.splide__track {
  height: 100%;
}

.splide__slide {
  background: none;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 100%; 
}

@media (max-width: 321px) {
  #image-carousel {
    width: 90%;
  }
}