#image-carousel {
  width: 75%;
  height: 300px;
  margin: 2px auto;
  overflow: hidden;
}

.splide__track {
  height: 100%;
}

.splide__slide {
  background: none;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.splide__slide img {
  width: 100%; /* Ocupa toda a largura do slide */
  height: 100%; /* Ocupa toda a altura do slide */
  object-fit: contain; /* Garante que a imagem inteira fique visível sem cortar */
  max-height: 100%; /* Evita que a imagem ultrapasse a altura do carousel */
}

@media (max-width: 321px) {
  #image-carousel {
    width: 90%;
  }
}